@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@theme{
  --color-primary-600: #08550aff;
  --color-primary-500: #0b700dff;
  --color-primary-400: #0e902eff;
  --color-secondary-500:#64f757ff;
  --color-secondary-400:#50c848ff;
  --color-neutral:#909090;
  --color-tertiary:#f15025ff;
  --color-danger:#ff4d4dff;
  --color-dark:#191919ff;
  --color-white:#ffffffff;
}


body{
  font-family: 'Figtree', sans-serif;
}

.wrapper{
  @apply w-full max-w-7xl mx-auto py-4 px-6 lg:px-4
}

.bg-gradient-primary{
  @apply bg-gradient-to-br from-primary-500 to-primary-600 hover:from-primary-400 hover:to-primary-500 transition-colors duration-300
}

/* Target the entire scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Adjust width for vertical scrollbar */
  height: 8px; /* Adjust height for horizontal scrollbar */
}

/* Target the scrollbar track (the background) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Target the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5px; /* Round the corners of the thumb */
  transition: background-color 0.3s ease;
}

/* Style the thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #7a7a7a;
}

/* Target the scrollbar corner (where two scrollbars meet) */
::-webkit-scrollbar-corner {
  background: #ccc;
}